<p>Fill out the form</p>
<form action="/insertMsg" method="POST">

    <label for="forId">forId:</label>
    <input type="text" id="forId" name="forId"/>
    </br>

    <label for="message">message:</label>
    <input type="text" id="message" name="message"/>
    </br>

    <input type="submit" value="Submit"/>
</form>